h1, p {
  max-width: 600px;
  text-align: center;
  margin: auto;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

h1 {
font-size: 34px;
margin-top: 30px;
margin-bottom: 15px;
}

.description {
  font-size: 20px;
}

.disclaimer {
  margin-bottom: 25px;
}

body {
  background-color: #18A558;
}

fieldset {
  font-size: 20px;
  max-width: 600px;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: auto;
  border: none;
  border-bottom: solid #18A558;
  background-color: #116530;
}

.number {
  display: block;
}

.age {
  margin-left: 14px;
}

input {
  font-size: 15px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

select:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

textarea {
  text-align: center;
  width: 50%;
  height: 100px;
  font-size: 15px;
  border-radius: 6px;
}

.submit {
  margin: auto;
  display:block;
  width: 150px;
  height: 38px;
  border-radius: 10px;
  font-size: 28px;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  background-color: #21B6A8;
  margin-bottom: 50px;
}

.submit:active {
  opacity: 0.8;
  box-shadow: 0 0 5px 0 rgba(255,255,255,0.2);
}